body{margin:0px auto;max-width:1280px;line-height:1.6;font-size:18px;color:#444;padding:0 10px;background: grey;}
h1{text-align: center;line-height: 1.2;}
h1,h2,h3{line-height:1.2}

.player{
	height: 745px;
}
.char-card-container{
	height: 108px;
}
.char-card{
	background: transparent;
	padding: 12px;
	width: 296px;
	float: left;
}
.char-card-inner{
	border: 4px solid black;
	border-radius: 16px;
	width: 296px;
	height: 76px;
	box-style: border-box;
	background: darkkhaki;
	font-size: 12pt;
	white-space: nowrap;
}
.char-card-inner > h1{
	text-align: center;
	font-size: 12pt;
	white-space: nowrap;
	margin: 0 0 0 0;
}
.char-card-inner > h2{
	text-align: center;
	font-size: 8pt;
	white-space: nowrap;
	margin: 0 0 0 0;
}
.char-card-inner > h3{
	text-align: center;
	font-size: 30pt;
	white-space: nowrap;
	margin: 0 0 0 0;
	color: darkred;
}

.button{
	background: red;
	float: left;
}
.button:hover{
	background: yellow;
}

.initiative-list{
	width: 220px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background: darkgray;
	overflow-x: hidden;
	padding-top: 108px;
	padding-left: 10px;
	padding-right: 10px;

	font-size: 12pt;
}

.navigation div {
	display: inline-block;
	width: 33%;
	vertical-align:middle;
}

.navigation .prev {
	float: right;
}

.navigation .next {
	float: left;
}